/**Register and login**/
.register{
    color: rgba(253, 253, 253, 0.75)!important;
    font-size: 1.2rem;
}
.btn-outline-primary,
.btn-outline-danger{
    transition: all 0.5s ease-in-out;
    box-shadow: unset;
}
.btn-outline-primary:hover{
    background-color: rgba( 0, 0, 0, 0.25);
    border-color: #ffffff;
}
.btn-outline-primary:focus {
    box-shadow: unset;
}

.register:hover{
    color: rgba(253, 253, 253, 1)!important;
}
.btn-outline-danger:hover{
    background-color: rgba( 0, 0, 0, 0.25);
    border-color: #ffffff;
}
.form-control:focus {
    box-shadow: 0 0 0 0.25rem #0e6666;
}

.form-control:focus.red{
    box-shadow: 0 0 0 0.25rem #990808;
}
.form-select:focus.red{
    box-shadow: 0 0 0 0.25rem #990808;
}
.user-container {
    max-width: 600px;
}
.box {
    -webkit-box-shadow: 4px 10px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 12px -1px rgba(0,0,0,0.75);
}

/**Profile editor**/
/**Profile picture**/
.picture {
    width:250px;
    height:250px;
    border-radius: 50%;
}
.picture-edit > input {
    display: none;
  }
.picture-edit img{
    transition: all 0.5s ease-in-out;
}
.picture-edit img:hover {
    cursor: pointer;
    filter: grayscale(1);
}
.edit-picture:hover {
    opacity: 1;
}

/**Sections**/
.card-header button:hover {
    filter: invert(100%);
}

.card-body button:hover {
    filter: invert(100%);
}
.btn-close:focus{
    box-shadow: unset;
}
.btn:focus{
    box-shadow: unset;
}
button:focus{
    box-shadow: unset;
}
/**Modal**/
.bg-modal-profile{
    background-color: #6e1b22;
}
.modal-content{
    background-color: unset;
}
.social.btn.btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(178 216 216 / 25%)!important;
}
.card-body .btn-fix:hover {
    filter: unset;
}